<%= form_for(@ma_enrollment) do |f| %>
  <% if @ma_enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ma_enrollment.errors.count, "error") %> prohibited this ma_enrollment from being saved:</h2>

      <ul>
      <% @ma_enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
